/* 
Theme Name:		 child of oblique
Theme URI:		 http://childtheme-generator.com/
Description:	 child of oblique is a child theme of Oblique, created by ChildTheme-Generator.com
Author:			 Amanda
Author URI:		 http://childtheme-generator.com/
Template:		 oblique
Version:		 1.0.0
Text Domain:	 child-of-oblique
*/

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/***** GENEREL *****/

body {
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
}


/*
header#masthead .svg-block, div.nav-svg path {
	fill: #bae0e2 !important;
} */

h2 {
	margin-top:40px;
	margin-bottom:30px;
}

/***** BACKGROUND - SINGLE COLOR *****/

/*
div#page.hfeed.site {
	background:#bae0e2;
} */

/***** BACKGROUND - GRADIENT *****/

div#page.hfeed.site {
	background-image: linear-gradient(#6bb0ff, #a1ccfc);
}

.svg-container.nav-svg.svg-block {
	fill:#6bb0ff;
}

.svg-container.header-svg.svg-block {
	fill:#76b6fe;
}

.overlay {
	background: none;
}


/***** HEADER *****/

.search-form, .sidebar-toggle  {
	display:none !important;
}

.header-search {
	margin-top:15px;
}

/***** CONTENT/MAIN  *****/

article#post-7 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom:125px;
}
/*
.svg-container.single-post-svg.single-svg-bottom.svg-block, .svg-container.footer-svg.svg-block {
	display:none;
} */

.wp-block-image img {
	border-radius: 50%;
    width: 250px;
}

.single-svg-bottom.svg-block {
	display:none;
}

/***** FOOTER *****/

footer#colophon, .footer-svg.svg-block {
	display:none
}

/***** A TO BTN DESIGN *****/

a.btn, a.btn:active, a.btn:focus {
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	background-color:#499eff;
	color:white;
}

a.btn:hover {
	background-color:#87c9ff;
    color: white;
}